<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="renderer" content="webkit">
  <meta content="telephone=on,email=no" name="formate-detection">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="W_design" content="750">
  <meta name="WT.pageID" content="">
  <meta name="WT.pagetitle" content="">
  <meta http-equiv="Cache-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Cache-Control" content="cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <meta http-equiv="cache-control" content="max-age=0">
  <meta http-equiv="expires" content="0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <!-- <link rel="shortcut icon" href="favicon.ico"> -->
</head>

<body>
  <div id="app"></div>
  <!-- <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>" defer="true"></script>
    <% } %> -->
</body>

</html>
